.app_image_container{
    width: 100%;
    padding: 0 10px;

}

.app_image_image_section,
.app_image_text_section {
    flex-basis: 50%;
}

.app_image_text_section{
    padding: 0px;
}

.app_image_text1{
    font-size: 51px;
    display: flex;
    margin-left: 100px;
    text-align: start;
    color: #1F4b43;
}

.app_image_text2{
    font-size: 18px;
    line-height: 1.5em;
    text-align: start;
    margin-left: 100px;
    
}



.btn_p {
    margin-top: -13px;
    font-size: 12px;
    
}

.btn_h4{
     margin-bottom: -15px;
     margin-left: -11rem;
    
}

.btn_p, .btn_h4{
    display: flex;
    
}

.get_p{
    margin-top: -13px;
    font-size: 12px;
    margin-left: -2rem;
}

.google_p{
    margin-bottom: -15px;
     margin-left: -10.5rem;
}

.get_p, .google_p {
    display: flex;
}
.phone_image{
    height: 566px;
}

@media (max-width: 841px){
    .app_image_container{
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
    }

    .phone_image{
        height: 450px;
    }

    .app_image_text_section{
        /* padding: 0px; */
        /* display: flex; */
        align-items: center;
        justify-content: center;
        padding: 1rem -30rem;
        margin-top: 90px;
    }

    .get_p{
        margin-bottom: -30px;
        text-align: left;
    }

    .app_image_text2{
        font-size: 18px;
        line-height: 1.5em;
        /* margin-right: -50px; */
        padding-right: 60px;
        
    }
}