
.header_container{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}
.header_cta_section{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    
}
.header_cta_section ul li  {
    list-style: none;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
}
.header_cta_section ul li a {
    color: #1F4B43;
    text-decoration: none;
    text-transform: capitalize;
    /* font-weight: normal; */
    font-size: 14px;
    /* font-family: 'Courier New', Courier, manrope; */
}
.mobile-logo{
    display: none;
}
.menu{
    display: none;
}

@media (max-width:841px) {
.header_container{
    width: 100vh;
    justify-content: space-between;
    padding: 0;
}
.header_cta_section{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    margin-right: 31rem;
    
}
.header_cta_section ul li  {
    list-style: none;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
}
.header_cta_section ul li a {
    color: #1F4B43;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    display: none;
    
}
.mobile-logo {
    display: block;
    
}
.destop-logo{
    display: none;
}
.menu{
    display: block;
    margin-left: 2rem;
    color: #1F4B43;
}
}